data/*.dat
output/*.txt
output/*.pdf
output/*.py_mcsamples
output/*.ranges
output/*.py~
class_montanari-lensing/*.sh
analyzer/*.txt
analyzer/*.pdf
analyzer/*.py~
*.mod
*.o
*.zip
*.tgz
*.out
ini_files/*.ini